.filter{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap:20px;
    margin-bottom: 40px;
}
.filter__container{
    display: flex;
    align-items: center;
}

.filter span{
    font-size: 0.75rem;
    margin-right: 5px;
    color: #6c757d;
}

.filter select{
    font-size: 0.75rem;
    text-align: center;
    padding: 3px 0;
    width: 120px;
    border:1px solid #ced4da;
    border-radius: 5px;
    color: #495057;
    margin-right: 5px;
}

.filter select:focus{
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(128,189,255,.5);
}

.filter mat-icon{
    color: #17a2b8;
}


@media screen and (max-width: 468px) {
    .filter{
        row-gap: 10px;
        flex-direction: column;
        align-items: flex-start;
    }
}

