.alert{
    max-height: 100px;
    overflow: hidden;
    animation: show-alert 0.7s;
    animation-timing-function: ease-in-out;
}

@keyframes show-alert {
    from {max-height: 0;}
    to {max-height: 100px;}
}

.alert > div{
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}