<div class="task">
    <div class="task__container">
        <mat-checkbox [checked]="task.complete" (change)="onChange($event)"></mat-checkbox>
        <input (focusout)="onChange($event)" [(ngModel)]="task.title" type="text">
    </div>

    <div class="task__container">
        <div *ngIf="task.dueDate !== ''">
            <div class="task__due-date" (click)="picker.open()">
                <mat-icon fontIcon="access_alarm"></mat-icon>
                <span>{{task.dueDate}}</span>
            </div>
            <input name="dueDate" (dateChange)="onDateChange($event)" [min]="minDate" [matDatepicker]="picker">
            <mat-datepicker [startAt]="dueDateAsDate" #picker></mat-datepicker>
        </div>
        <div >
            <div class="task__delete-button">
                <button (click)="removeTask()">
                    <mat-icon fontIcon="delete_icon"></mat-icon>
                </button>
                
                
            </div>
            <div class="task__info">
                <mat-icon fontIcon="info_icon"></mat-icon>
                <span>{{task.addedDate}}</span>
            </div>
        </div>

    </div>

</div>
<app-alert *ngIf="showAlert" [text]="'You cant leave task discription empty'"></app-alert>
