<div class="task">
    <div class="task__container">
        <mat-checkbox ></mat-checkbox>
        <input type="text">
    </div>

    <div class="task__container">
        <div>
            <div class="task__due-date">
                <mat-icon fontIcon="access_alarm"></mat-icon>
                <span>28th Jun 2020</span>
            </div>
        </div>
        <div >
            <div class="task__delete-button">
                <button >
                    <mat-icon fontIcon="delete_icon"></mat-icon>
                </button>
                
                
            </div>
            <div class="task__info">
                <mat-icon fontIcon="info_icon"></mat-icon>
                <span>28th Jun 2020</span>
            </div>
        </div>

    </div>

</div>
