.app__card{
    max-width: 800px;
    margin: auto;
    background-color: var(--gray-color);
}

.app__card h1{
    font-size: 2.5rem;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.app__card mat-icon{
    font-size: 2.5rem; 
    width: 2.5rem; 
    height: 2.5rem;
}