<mat-card class="add-task">
    <mat-card-content>
        <form (ngSubmit)="addTask()" class="add-task__form">
            <div class="add-task__container">
                <input [(ngModel)]="title" placeholder="Add new..." name="title" type="text" />
            </div>
            <div class="add-task__container">
                <input [(ngModel)]="dueDate" name="dueDate" matInput [matDatepicker]="picker" [min]="minDate">
                <mat-datepicker-toggle class="add-task__date-picker" matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <button type="submit" class="add-task__add-button" mat-raised-button>Add</button>
                </div>
                </form>
    </mat-card-content>
</mat-card>
<app-alert *ngIf="showAlert" [text]="'You must add description to the task'"></app-alert>
