.add-task mat-card-content{
    padding-top: 5px;
    padding-bottom: 5px;
}

.add-task__form{
    display: flex;
    justify-content: space-between;
}

.add-task__container{
    display: flex;
    align-items: center;
}
.add-task__container:first-child{
    flex: 1;
}

.add-task__container [name="title"]{
    font-size: 1rem;
    width: 100%;
    border: none;
    outline: none;
}

.add-task__container [name="dueDate"]{
    padding: 0;
    width: 0;
    border: 0;
    margin-top: 35px;
}

.add-task__date-picker{
    font-size: 0.75rem;
    color: var(--main-color) ;
}

.add-task__add-button{
    font-size: 0.75rem;
    background-color: var(--main-color) !important;
    color:white !important;
}